<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.1.120" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml" version="3.5.1" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.5.1" targetFramework="net481" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="2.0.1" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.7" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.AI.Abstractions" version="10.2.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.3" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.4191.47" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net481" />
  <package id="NAudio" version="2.3.0" targetFramework="net481" />
  <package id="NAudio.Asio" version="2.3.0" targetFramework="net481" />
  <package id="NAudio.Core" version="2.3.0" targetFramework="net481" />
  <package id="NAudio.Midi" version="2.3.0" targetFramework="net481" />
  <package id="NAudio.Wasapi" version="2.3.0" targetFramework="net481" />
  <package id="NAudio.WinForms" version="2.3.0" targetFramework="net481" />
  <package id="NAudio.WinMM" version="2.3.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="OpenAI" version="2.13.0" targetFramework="net481" />
  <package id="PdfPig" version="0.1.16" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.ClientModel" version="1.14.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.11" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.3" targetFramework="net481" />
  <package id="System.Drawing.Common" version="10.0.11" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="10.0.3" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Memory.Data" version="10.0.3" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Net.ServerSentEvents" version="10.0.2" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Resources.Extensions" version="8.0.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="10.0.3" targetFramework="net481" />
  <package id="System.Text.Json" version="10.0.3" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
  <package id="Tesseract" version="5.2.0" targetFramework="net481" />
</packages>